[mysqld]
character-set-server = utf8
collation-server = utf8_unicode_ci
skip-character-set-client-handshake

#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]

#
# include all files from the config directory
#

[mysqld]
innodb_file_per_table=1
#log_basename=mysqld
#general_log
#slow_query_log
#slow_query_log_file=mariadb-slow.log



# Connection Settings
max_connections = 10000
wait_timeout = 28800
interactive_timeout = 600
max_allowed_packet = 1G
net_read_timeout=600
net_write_timeout=1200
connect_timeout = 20

# Table and Cache Settings
table_open_cache = 1024
key_buffer_size = 256M
query_cache_size = 512M
query_cache_type = 2

# InnoDB Settings
#innodb_buffer_pool_size = 32G
innodb_buffer_pool_size = 1G
innodb_log_file_size = 512M
innodb_flush_log_at_trx_commit = 1
innodb_flush_method = O_DIRECT
innodb_file_per_table = 1
innodb_io_capacity = 2000
innodb_io_capacity_max = 4000
innodb_read_io_threads = 16
innodb_write_io_threads = 16
innodb_thread_concurrency = 16
innodb_flush_neighbors = 0

# Other Settings
thread_cache_size = 128
skip_name_resolve = 1

##############
[client]
port=3306
socket=/var/log/mysql.sock
